.button {
    background-color: #4fa94d;
    border-radius: 20px;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.container {
    position: relative;
}